<div class="dashboard-container">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Active Students</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h1>{{ activeStudentsCount }}</h1>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Active Employees</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h1>{{ activeEmployee }}</h1>
      </mat-card-content>
    </mat-card>
  </div>
  