<mat-card *ngIf="student" class="student-card">
    <mat-card-header class="student-card-header">
      <mat-card-title class="student-title">Student Details: {{ student.first_name }} {{ student.last_name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="student-card-content">
      <div class="student-details">
        <div class="student-info">
          <p><strong>Student Full Name: </strong>{{ student.first_name }} {{ student.last_name }}</p>
          <p><strong>Father's Name: </strong>{{ student.father_name }}</p>
          <p><strong>Date of Birth: </strong>{{ student.date_of_birth | date:'yyyy-MM-dd' }}</p>
          <p><strong>Gender: </strong>{{ student.gender || 'N/A' }}</p>
          <p><strong>Contact Number: </strong>{{ student.contact_number }}</p>
          <p><strong>Email: </strong>{{ student.email }}</p>
          <p><strong>Address: </strong>{{ student.address }}</p>   
          <hr class="student-hr">
          <h3 class="student-h3">Family Information</h3>
          <!-- If student family details exist, show family info -->
          <div *ngIf="student.student_family">
            <p><strong>Religion: </strong>{{ student.student_family.religion }}</p>
            <p><strong>Caste: </strong>{{ student.student_family.caste }}</p>
            <p><strong>Place of Birth: </strong>{{ student.student_family.place_of_birth }}</p>
            <p><strong>Father's Occupation: </strong>{{ student.student_family.father_occupation }}</p>
            <p><strong>Occupation Address: </strong>{{ student.student_family.occupation_address }}</p>
          </div>
          
          <!-- If student Past School Information Exists -->
          <div *ngIf="student.student_past_school">
            <hr class="student-hr">
          <h3 class="student-h3">Past School Information</h3>
            <p><strong>School name: </strong>{{ student.student_past_school.school_name }}</p>
            <p><strong>Last Grade: </strong>{{ student.student_past_school.last_grade }}</p>
            <p><strong>Academic Year </strong>{{ student.student_past_school.academic_year }}</p>
            <p><strong>Reason For Leaving: </strong>{{ student.student_past_school.reason_for_leaving || 'No Reason Specified' }}</p>
          </div>
          <hr class="student-hr">
          <!-- Check if student enrollment data exists -->
           <h3 class="student-h3">Student Enrollments</h3>
          <div *ngIf="student_enrollment && student_enrollment.length > 0">
            <table mat-table [dataSource]="student_enrollment" class="student-enrollment-table" matSort>
              <!-- Grade Column -->
              <ng-container matColumnDef="grade">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Grade</th>
                <td mat-cell *matCellDef="let enrollment">{{ enrollment.grade_section?.grade?.name }}</td>
              </ng-container>
  
              <!-- Section Column -->
              <ng-container matColumnDef="section">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Section</th>
                <td mat-cell *matCellDef="let enrollment">{{ enrollment.grade_section?.name }}</td>
              </ng-container>
  
              <!-- Enrollment Date Column -->
              <ng-container matColumnDef="enrollmentDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Enrollment Date</th>
                <td mat-cell *matCellDef="let enrollment">{{ enrollment.enrollment_date | date:'yyyy-MM-dd' }}</td>
              </ng-container>
  
              <!-- Academic Year Column -->
              <ng-container matColumnDef="academicYear">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Academic Year</th>
                <td mat-cell *matCellDef="let enrollment">{{ enrollment.academic_year }}</td>
              </ng-container>
  
              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let enrollment">{{ enrollment.status }}</td>
              </ng-container>
  
              <!-- Remarks Column -->
              <ng-container matColumnDef="remarks">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</th>
                <td mat-cell *matCellDef="let enrollment">{{ enrollment.remarks || 'No remarks' }}</td>
              </ng-container>
  
              <!-- Header and Row Definitions -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
  
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  